---
import { ExtraNav } from "../components/ExtraNav.tsx";
import "@/styles/global.css";
import { NavSidebar } from "@/components/nav-sidebar.tsx";
import { ClerkProvider, useAuth } from "@clerk/clerk-react";
import AuthButtons from "@/components/AuthButtons.tsx";
---

<nav
  aria-label="Top"
  class="mx-auto px-4 sm:px-4 py-2 lg:px-8 top-0 left-1/2 transform fixed -translate-x-1/2 w-full z-50"
>
  <div class="rounded-full px-8 transition-all duration-200" id="nav">
    <!--on scroll add the class bg-white and shadow-lg to the div over this comment -->
    <div class="flex h-16 items-center rounded-lg">
      <div class="ml-2 md:ml-4 flex lg:ml-0 mt-6">
        <a href="/">
          <span
            class="text-4xl text-primary rounded-md hidden md:inline-block font-extrabold mb-3"
            >BesserLRS</span
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="inline-block size-12 text-primary mb-8 md:mb-6"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M2 8v11.529S6.621 19.357 12 22c5.379-2.643 10-2.471 10-2.471V8s-5.454 0-10 2.471C7.454 8 2 8 2 8"
            ></path>
            <circle cx="12" cy="5" r="3" fill="currentColor"></circle>
          </svg>
        </a>
      </div>

      <div class="mx-auto hidden xl:flex">
        <ExtraNav client:load />
      </div>

      <div class="ml-auto flex justify-between items-center">
        <!-- Auth Component -->
        <AuthButtons
          clerkKey={import.meta.env.PUBLIC_CLERK_PUBLISHABLE_KEY!}
          client:load
        />
      </div>
      <div class="ml-5 flex xl:hidden">
        <NavSidebar client:load />
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const nav = document.getElementById("nav");
    if (nav) {
      window.addEventListener("scroll", () => {
        if (window.scrollY > 0) {
          nav.classList.add("bg-white", "shadow-lg");
        } else {
          nav.classList.remove("bg-white", "shadow-lg");
        }
      });
    }
  });
</script>
